Repository OSGeo/grass-addons, pull requests merged in 2023-04, with the labels that each got.

#884 i.landsat.import: update suffix after latest USGS change
  src/imagery/i.landsat/i.landsat.import/i.landsat.import.html
  src/imagery/i.landsat/i.landsat.import/i.landsat.import.py
Labels: bug

#885 i.landsat.download: do not log to landsatxplore.api if not necessary
  src/imagery/i.landsat/i.landsat.download/i.landsat.download.py
Labels: enhancement, Python

#890 wx.metadata: fix create/edit map metadata with g.gui.metadata module
  src/gui/wxpython/wx.metadata/g.gui.metadata/g.gui.metadata.py
Labels: bug, GUI, backport_needed

#891 wx.metadata: fix launch csw browser window
  src/gui/wxpython/wx.metadata/mdlib/cswlib.py
Labels: bug, GUI, backport_needed

#892 wx.metadata: fix launch g.gui.cswbrowser module
  src/gui/wxpython/wx.metadata/mdlib/cswlib.py
Labels: bug, GUI, backport_needed
